config.local.php
data/*.sqlite
data/*.sqlite-*
data/*.db
data/backups/*
data/logs/*
data/import/*.txt
public/uploads/*
public/diplomas/*
public/posters/*
!.gitkeep
*.log
node_modules/
.DS_Store

public/polozhenie_*.pdf
public/posters/*.png
public/diplomas/*.pdf
public/godovoy_otchet_*.pdf
public/*.pdf
